@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans", "Roboto", serif;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  background: #2a3434;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-content .header-nav {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 15px;
}

.header .header-content .header-nav .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Noto Sans;
  font-size: 18px;
  line-height: 24px;
}

.header .header-content .header-nav .header-links .header-item {
  margin-left: 50px;
}

.header .header-content .header-nav .header-links .header-item .header-link {
  color: #ffffff;
}

.header .header-content .header-lines {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1%;
}

.header .header-content .header-lines .header-line-1 {
  width: 420px;
  height: 1px;
  border: none;
  background-color: #000000;
  color: #000000;
  /* for IE6-7 */
  margin-bottom: 18px;
}

.header .header-content .header-lines .header-line-2 {
  width: 400px;
  height: 1px;
  border: none;
  background-color: #000000;
  color: #000000;
  /* for IE6-7 */
}

.about-me {
  margin-bottom: 100px;
}

.about-me .about-me-heading {
  font-family: Playfair Display;
  margin-bottom: 70px;
}

.about-me .about-me-heading .about-me-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 96px;
  color: #f9ffd2;
  margin-bottom: 15px;
}

.about-me .about-me-heading .about-me-subtitle {
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.185em;
  color: #ffffff;
  margin-left: 250px;
}

.about-me .about-me-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .about-me-content .about-me-img {
  width: 50%;
  max-width: 100%;
  margin-right: 5%;
}

.about-me .about-me-content .about-me-text {
  width: 45%;
  font-family: Noto Sans;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.section-heading .section-title {
  font-family: Noto Sans;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #e5e5e5;
  margin-bottom: 60px;
}

.portfolio {
  margin-bottom: 100px;
}

.portfolio .portfolio-content .portfolio-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .portfolio-content .portfolio-items .portfolio-item {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.portfolio .portfolio-content .portfolio-items .portfolio-item .gallery-img {
  max-width: 100%;
}

.portfolio .portfolio-content .portfolio-items .portfolio-item:nth-child(3) {
  margin-right: 0;
}

.portfolio .portfolio-content .portfolio-items .portfolio-item:last-child {
  margin-right: 0;
}
