// fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
// null file
@import "_nullstyle.scss";
// styles
.wrapper {
   width: 95%;
   max-width: 1170px;
   margin: 0 auto;
}
.header {
   margin-bottom: 50px;
   .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      .header-burger {
         display: none;
      }
      .header-nav {
         align-self: flex-end;
         margin-bottom: 15px;
         .header-links {
            display: flex;
            align-items: center;
            font-family: Noto Sans;
            font-size: 18px;
            line-height: 24px;
            .header-item {
               margin-left: 50px;
               .header-link {
                  color: #ffffff;
               }
            }
         }
      }
      .header-lines {
         align-self: flex-end;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin-right: 1%;
         .header-line-1 {
            width: 420px;
            height: 1px;
            border: none;
            background-color: #000000;
            color: #000000; /* for IE6-7 */
            margin-bottom: 18px;
         }
         .header-line-2 {
            width: 400px;
            height: 1px;
            border: none;
            background-color: #000000;
            color: #000000; /* for IE6-7 */
         }
      }
   }
}
.about-me {
   margin-bottom: 100px;
   .about-me-heading {
      font-family: Playfair Display;
      margin-bottom: 70px;
      .about-me-title {
         font-weight: bold;
         font-size: 72px;
         line-height: 96px;
         color: #f9ffd2;
         margin-bottom: 15px;
      }
      .about-me-subtitle {
         font-weight: normal;
         font-size: 36px;
         line-height: 48px;
         letter-spacing: 0.185em;
         color: #ffffff;
         margin-left: 250px;
      }
   }
   .about-me-content {
      display: flex;
      align-items: center;

      .about-me-img {
         width: 50%;
         max-width: 100%;
         margin-right: 5%;
      }
      .about-me-text {
         width: 45%;
         font-family: Noto Sans;
         font-size: 18px;
         line-height: 32px;
         letter-spacing: 0.03em;
         color: #ffffff;
      }
   }
}
.section-heading {
   .section-title {
      font-family: Noto Sans;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      color: #e5e5e5;
      margin-bottom: 60px;
   }
}
.portfolio {
   margin-bottom: 100px;
   .portfolio-content {
      .portfolio-items {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         .portfolio-item {
            width: 30%;
            margin-right: 5%;
            margin-bottom: 5%;
            .gallery-img {
               width: 100%;
               max-width: 100%;
               max-height: 400px;
               object-fit: cover;
            }
         }
         .portfolio-item:nth-child(3) {
            margin-right: 0;
         }
         .portfolio-item:last-child {
            margin-right: 0;
         }
      }
   }
}
.price {
   margin-bottom: 100px;
   .price-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .prices {
         width: 40%;
         font-family: Noto Sans;
         font-weight: bold;
         font-size: 18px;
         line-height: 24px;
         color: #f9ffd2;
         .price {
            margin-bottom: 20px;
         }
      }
      .price-slider {
         width: 55%;

         .slider-wrapper {
            border: 1px solid #000000;

            .slider-container {
               .slider-cards {
                  .slider-card {
                     padding: 10%;
                     .slider-img {
                        width: 100%;
                        height: 100%;
                     }
                  }
               }
               .swiper-pagination-bullet {
                  width: 40px;
                  height: 4px;
                  background: #000000;
                  opacity: 1;
                  border-radius: 0;
                  -webkit-border-radius: 0;
                  -moz-border-radius: 0;
                  -ms-border-radius: 0;
                  -o-border-radius: 0;
               }
               .swiper-pagination-bullet-active {
                  background: #8a7b7b;
               }
            }
         }
      }
   }
}
.form {
   margin-bottom: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   font-family: Noto Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 19px;
   color: #ffffff;
   .form-group {
      position: relative;
      .form-input,
      .form-button {
         color: #ffffff;
      }
      .form-input {
         width: 340px;
         height: 60px;
         background-color: transparent;
         border: 1px solid rgba(255, 255, 255, 1);
         transition: 0.3s;
         -webkit-transition: 0.3s;
         -moz-transition: 0.3s;
         -ms-transition: 0.3s;
         -o-transition: 0.3s;
         margin-bottom: 45px;
         outline: none;
      }
      .form-input:focus {
         border: 1px solid rgba(255, 255, 255, 0.3);
      }
      .form-label {
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         transition: 0.3s;
         -webkit-transition: 0.3s;
         -moz-transition: 0.3s;
         -ms-transition: 0.3s;
         -o-transition: 0.3s;
      }
      .form-input:focus ~ .form-label,
      .form-input:not(:placeholder-shown) ~ .form-label {
         top: -18px;
         font-size: 14px;
         color: rgba(255, 255, 255, 0.3);
      }
   }
   .form-button {
      border: 1px solid #ffffff;
      border-radius: 48px;
      background: transparent;
      color: #ffffff;
      padding: 7px 70px;
   }
   .form-button:hover {
      background-color: #ffffff;
      color: #000000;
      transition-duration: 600ms;
   }
}
.footer {
   padding-top: 30px;
   padding-bottom: 30px;
   background: #161b1b;
   .footer-content {
      margin: 0 auto;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .social-links {
         .social-link {
            margin-right: 30px;
            .icon {
               width: 25px;
               height: 25px;
               transition: 0.5s;
               -webkit-transition: 0.5s;
               -moz-transition: 0.5s;
               -ms-transition: 0.5s;
               -o-transition: 0.5s;
            }
            .icon:hover {
               transform: scale(1.5);
               -webkit-transform: scale(1.5);
               -moz-transform: scale(1.5);
               -ms-transform: scale(1.5);
               -o-transform: scale(1.5);
            }
         }
         .social-link:last-child {
            margin-right: 0;
         }
      }
      .footer-phone {
         font-family: Noto Sans;
         font-weight: bold;
         font-size: 14px;
         line-height: 19px;
         color: #e5e5e5;
         transition: 0.5s;
         -webkit-transition: 0.5s;
         -moz-transition: 0.5s;
         -ms-transition: 0.5s;
         -o-transition: 0.5s;
      }
      .footer-phone:hover {
         transform: scale(1.5);
         -webkit-transform: scale(1.5);
         -moz-transform: scale(1.5);
         -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
      }
   }
}
// media files
@import "_media.scss";
// thank you styles
@import "_thank-you.scss";
